<div class="card" style="width: 18rem; background-color: #000;" >
    <div class="card-body" >
        <h5 class="card-title" style="color: darkgoldenrod;">New</h5>
        <p class="card-text" style="color:white">Hydrogen VS Electric Cars</p>
        <h6 class="card-subtitle mb-2 text-muted" style="color:white">Will hydrogen-fueled cars ever catch up to EVs?</h6>
        <p class="card-text" style="color:white">The Downsides of AI Artistry</p>
        <h6 class="card-subtitle mb-2 text-muted" style="color:white">What are the possible adverse effects of on-demand AI image generation?</h6>
        <p class="card-text" style="color:white">Is VC Funding Drying Up?</p>
        <h6 class="card-subtitle mb-2 text-muted" style="color:white">Private funding by VC firms is down 50% YOY. We take a look at what that means.</h6>
    </div>
</div>
