<div class="container-fuid">
    <div class="row">
        <div class="col-12 col-md-4 p-4"  style="width: 30;">
           <h1>The Bright Future of Web 3.0?</h1> 
        </div>
        <div class="col-12 col-md-4 p-4" style="width: 30;">
            We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the
            people. But is it really fulfilling its promise?
            <button type="button" class="btn btn-danger">READ MORE</button>

        </div>
    </div>
 </div>
