<div class="container-fuid mt-5">
 <div class="row">
    
<div class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" style="color:darkgray; width: auto;">01</h5>
            <p class="card-text" style="color:black;border: 0ch;">Reviving Retro PCs</p>
            <h6 class="card-subtitle mb-2 text-muted" style="color:white">What happens when old PCs are given modern upgrades?</h6>    
        </div>
    </div>

</div>
<div class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="/images/image-retro-pcs.jpg" alt="">
            <h5 class="card-title" style="color:darkgray; width: auto;">02</h5>
            <p class="card-text" style="color:black;border: 0ch;">Top 10 Laptops of 2022</p>
            <h6 class="card-subtitle mb-2 text-muted" style="color:white">Our best picks for various needs and budgets.</h6>
        </div>
    </div>

</div>

<div class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="/images/image-retro-pcs.jpg" alt="">
            <h5 class="card-title" style="color:darkgray; width: auto;">03</h5>
            <p class="card-text" style="color:black;border: 0ch;">The Growth of Gaming</p>
            <h6 class="card-subtitle mb-2 text-muted" style="color:white">How the pandemic has sparked fresh opportunities.     </h6>
        </div>
    </div>

</div>

<div class="col-12 col-md-4"></div>
 </div>
</div>
